/* 
/////////////////////////////////////////////////
The rules below are there to make sure
that no unintended rulings are
in effect. 
/////////////////////////////////////////////////
*/
* {
    box-sizing: border-box;
    border: 0px;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    /* 
    /////////////////////////////////////////////////
    establishing a discord color pallete
    since I think they have an amazing
    darkmode aesthetic.
    /////////////////////////////////////////////////
    */
    background-color: #23272a;
    color: #99aab5;
}


/* 
/////////////////////////////////////////////////
Everything up until the next comment
will be dealing with the header stylings 
/////////////////////////////////////////////////
*/

.header {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    align-content: space-around;
}

.headerNav > a {
    background-color: #2c2f33;
    color: #7289da;
    padding: .5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline-block;
    margin-bottom: 2rem;
}

.headerNav > span {
    background-color: #99aab5;
    color: #2c2f33;
    padding: .5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline-block;
}

.headerNav > a:hover {
    background-color: #99aab5;
    color: #2c2f33;
    padding: .5em;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    display: inline-block;
}

.headerIcon{
    margin: 1rem;
    border-radius: 100%;
}

